*{
    font-family: "Poppins",sans-serif;
}
header{
    margin-top: 10px;
    text-align:center ;
}

img{
    height: 50px;
}

header hr{
  width: 100%;
}

.proccessingbox{
    width: 34%;
    height: 15%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 8% 33%;
    padding: 20px;
}

h2{
    font-size: 35px !important;
    font-weight: bold !important;
}


h2, h2+div{
    width: 100%;
    text-align: center;
}

h2+div{
    margin-top: 3% !important;
    font-size: 15px !important;
}