.footer {
    background-color: #24282F;
    display:flex;
    flex-direction: row;
    margin-top: 30px;
}
a{
    color: white;
    text-decoration: none;
}
.logo-box{
    width: 30%;
    margin-left: 8%;
    margin-top: 50px;
    margin-right: 10%;
}

.logo-box img {
    max-width: 120px;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}

.logo-box  p{
    color: #F0F0F4 !important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .02em;
    width: 50%;
    align-items: center;
}

.footer-links{
    margin-top:50px;
    width: 13%;
    margin-right: 2%;
    marker-start: none;
    align-items: center;
    margin-bottom: 80px;
}

.top-upper{
    color: #F0F0F4 !important;
    margin-bottom: 30px;
    margin-top: -1px !important;
    /* marker: none; */
    marker-start: none;

}

.footer-links ul{
    width: 100%;
    color: #F0F0F4;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}



ul li{
    margin-top: 18px;
    color: #C8CbD9;
    align-items: left;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:768px) {
    .footer{
        background-color: #24282F;
        display:flex;
        flex-direction: column !important;
    }

    .footer-links{
        margin-top:50px;
        width: 100%;
    }

    .deactive{
        display: none;
    }

    .footer-links ul{
        width: 100%;
        color: #F0F0F4;
        margin-left: 6%;
    }



    .logo-box  p{
        color: #F0F0F4 !important;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: .02em;
        width: 100%;
        align-items: center;
    }

}